# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
COMMON_FLAGS="{{ COMMON_FLAGS }}"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"

# NOTE: This stage was built with the bindist Use flag enabled
PORTDIR="{{ PORTDIR }}"
DISTDIR="{{ DISTDIR }}"
PKGDIR="{{ PKGDIR }}"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES={{ LC_MESSAGES }}

MAKEOPTS="{{ MAKEOPTS }}"

GENTOO_MIRRORS="{{ GENTOO_MIRRORS }}"

VIDEO_CARDS="{{ VIDEO_CARDS }}"
INPUT_DEVICES="{{ INPUT_DEVICES }}"
USE="{{ USE }}"
FEATURES="{{ FEATURES }}"
L10N="{{ L10N }}"
PORTAGE_NICENESS="{{ PORTAGE_NICENESS }}"

RUSTFLAGS="{{ RUSTFLAGS }}"
CARGO_BUILD_JOBS="{{CARGO_BUILD_JOBS }}"